body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Heading */
.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

.container-fluid {
  padding: 2% 15%;
}

/* Navigation bar */
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 5rem;
}

.nav-item {
  padding: 0 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}

/* Download Button */
.download-btn {
  margin: 5% 3% 5% 0%;
}

/* Title image */
.title-img {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

#features {
  padding: 7% 15%;
  position: relative;
  background-color: #fff;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

/* Icon */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial section */
#testimonials {
  /* background-color: #ef8172; */
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 1.2rem;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  padding-bottom: 3%;
  /* background-color: #ef8172; */
  background-color: #ff4c68;
}

/* Pricing */
#pricing {
  padding: 6.25rem;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.price-button {
  width: 80%;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call To Action */
#cta {
  background-color: #ff4c68;
  padding: 8% 15%;
  color: #fff;
}

/* Contact */
#contact{
  padding: 5% 30%;
}

.contact-form{
  border:1px solid black;
  padding: 6% 25%;
  text-align: left;
  background-color: #00000008;
}

#footer {
  background-color: #ff4c68;
  padding: 3% 15%;
  color: #fff;
}

.copyright-text{
color: #fff;
}

.footer-icons {
  margin-right: 2%;
  margin-bottom: 2%;
}

@media (max-width:1030px) {
  p, em {
    font-size: 1.2rem;
  }

  /* Heading */
  .big-heading {
    font-size: 3rem;
  }

  .section-heading {
    font-size: 3rem;
  }

  .container-fluid {
    padding: 3% 9%;
  }

  /* Navigation Bar*/
  .navbar-brand {
    font-size: 3.3rem;
  }

  .navbar {
    padding-bottom: 6%;
    text-align: right;
  }

  .nav-item {
    padding: 0 2%;
    font-size: 1.5rem;
  }

  /* Title Image */
  .title-img {
    transform: rotate(0);
    position: static;
    width: 50%;
    margin-left: 30%;
  }

  /* Download Button */
  .download-btn {
    font-size: 1.6rem;
  }

  /* Features */
  #features {
    padding: 5% 5%;
  }

  .feature-title {
    font-size: 2.2rem;
  }

  /* Icon */
  .icon {
    font-size: 4.5rem;
  }

  /* Testimonial */
  .testimonial-text {
    font-size: 3rem;
  }

  .testimonial-image {
    width: 13%;
    border-radius: 100%;
    margin: 1.2rem;
  }

  /* Press */
  .press-logo {
    width: 24%;
  }

  /* Pricing */
  #pricing {
    padding: 9% 5%;
  }

  .price-button {
    font-size: 1.3rem;
  }

  .pricing-heading {
    width: 100%;
  }

  /* Call To Action */
  #cta{
    padding:5% 9%;
  }

  /* Contact */
  #contact{
    padding: 5% 30%;
    /* font-size: 1.5rem; */
  }

  .contact-form{
    border:1px solid black;
    padding: 6% 25%;
    text-align: left;
  }
  /* Footer */
  .footer-icons {
    font-size: 1.2rem;
    margin-left: 2%;
  }
}

/* Mobile  */
@media (max-width:650px) {
  p, em {
    font-size: 0.9rem;
  }

  /* Heading */
  .big-heading {
    font-size: 2.3rem;
    margin-top: 6%;
  }

  .section-heading {
    font-size: 2.5rem;
    padding-top: 0;
  }

  .container-fluid {
    padding: 3% 4%;
  }

  /* Navigation Bar */
  .navbar-brand {
    font-size: 2.5rem;
  }

  .navbar {
    text-align: right;
  }

  .nav-item {
    font-size: 1.2rem;
  }

  .navbar-toggler {
    font-size: 1.5rem;
  }

  /* Download Button */
  .download-btn {
    font-size: 1.2rem;
  }

  /* Title Image */
  .title-img {
    width: 45%;
    margin-top: 5%;
  }

  /* Icon */
  .icon {
    font-size: 4rem;
  }

  /* Features */
  .feature-title {
    font-size: 1.4rem;
  }

  /* Testimonial */
  .testimonial-text {
    font-size: 2rem;
  }

  .testimonial-image {
    width: 18%;
    border-radius: 100%;
    margin: 1.2rem;
  }

  /* Press */
  .press-logo {
    width: 24%;
  }

  /* Pricing */
  #pricing {
    padding: 3.5rem;
  }

  .price-button {
    font-size: 1.1rem;
  }

  .pricing-heading {
    width: 100%;
  }

  /* Contact */
  #contact{
    padding: 5% 15%;
  }

  .contact-form{
    border:1px solid black;
    padding: 6% 15%;
    text-align: left;
    background-color: #00000008;
  }
  /* Footer */
  .footer-icons {
    font-size: 1.2rem;
    margin-left: 5%;
  }
}
